*{
  background-color: #0D0618;
}
.flex-container{
   display: flex;
   justify-content: right;
   position: absolute;
   bottom: 0;
   right: 0;

}
.flex-container > div{
  background-color: #FFF;
  width: 100px; 
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  transition: 1s;
}

/* Changes only when mouse hovers over each track element*/
.tracks:hover{
  background-color: blue;
  width: 40vw;
}

