.flex-container{
   display: flex;
   justify-content: right;
   background-color: dodgerblue;
}
.flex-container > div{
  background-color: azure;
  width: 100px; 
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* Changes only when mouse hovers over each track element*/
.tracks:hover{
  background-color: blue;
  width: 40vw;
}

